//<div class="title">
//  <p class="content">123<span>456</span></p>
//</div>
$color:red;
$size:30px;
p {
    color: $color;
    background-color: #00f;
    transform: rotate(90deg);
}

header {
    color: $color;
    font-size: $size;
    background-color: blue;
}

.title {
    color: $color;
    text-align: center;
    .content {
        background-color: $color;
        span {
            color: $color;
        }
    }
}

div {
    margin: 10px;
    p {
        font-size: 18px;
        span {
            color:blue;
        }
    }
}