html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

webview {
    /* display: block; */
    /* iframes are inline by default */
    border: none;
    /* Reset default border */
    height: 100%;
    /* Viewport-relative units */
    width: 100%;
}